@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}
:root{
    --main_color: #FF6666;
    --p_color: #FF8989;
    --bg_color: #fff;
    --white_color: #fff;
    --beige-color: #FFEADD;
    --black_color: #070707;
    --border_color: rgba(255, 2555, 255, 0.1);
}

body{
    background-color: var(--white_color);
}

.container{
    margin: auto;
    width: 80%;
    max-width: 1500px;
}
img{
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--black_color);
    font-family: "DM Sans", sans-serif;
}
span{
    color: var(--main_color);
}
p{
    color: var(--p_color);
}
/*=============================
                btns
==============================*/
.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background-color: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white_color);
    transition: 0.3s;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}
.btn:hover{
    scale: 1.04;
}
.btn-no-bg{
    color: var(--black_color);
    text-transform: capitalize;
    transition: 0.3s;
    text-decoration: underline;

}
.btn-no-bg:hover{
    color: var(--main_color);
    scale: 1.05;
}
/*=====================================
            background lines
=======================================*/
.bg-lines span{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    background: rgba(255, 102, 102, 0.2);
    
    width: 1px;
    -webkit-animation: left-right 18s infinite;
    animation: left-right 18s infinite;
}
.bg-lines span:nth-child(1){
    left: 10%;
}
.bg-lines span:nth-child(2){
    left: 20%;
}
.bg-lines span:nth-child(3){
    left: 30%;
}
.bg-lines span:nth-child(4){
    left: 40%;
}
.bg-lines span:nth-child(5){
    left: 50%;
}
.bg-lines span:nth-child(6){
    left: 60%;
}
.bg-lines span:nth-child(7){
    left: 70%;
}
.bg-lines span:nth-child(8){
    left: 80%;
}
.bg-lines span:nth-child(9){
    left: 90%;
}

@keyframes left-right{
   0%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
   } 
   50%{
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
   }
   100%{
    -webkit-transform: translateX(0);
    transform: translateX(0);
   }
}


/*================================
              the header
==================================*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
}
header.active{
    background: var(--beige-color);
    border-bottom: 1px solid #FF8989;
    transition: 0.6s;
    z-index: 100;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header nav .logo img{
    width: 30px;
}
header nav .links{
    display: flex;
    gap: 40px;
}
header nav .links a{
    color: var(--p_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}
header nav .links a:hover{
    color: var(--main_color);
    font-weight: 500;
}

header nav .icons{
    display: flex;
    gap: 30px;
}
header nav .icons a{
   color: var(--main_color);
   font-size: 28px;
   transition: 0.3s;
}
header nav .icons a:hover{
    scale: 1.1;
 }
 /*=================================
             hero section
 ===================================*/
 .hero{
    padding-top: 100px;
    margin-top: 100px;
    
 }
 .hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .hero .text-container{
    width: 50%;
    
 }
 .hero .text-container h4{
    color: var(--p_color);
    font-size: 35px;
    margin-bottom: 15px;

 }

 .hero .text-container h1{
    font-size: 50px;
    margin-bottom: 15px;
 }
 .hero .img-container{
    width: 40%;
 }


 /*=============================================
             top section attributes
 ===============================================*/
 .top-section{
    text-align: center;
    margin-bottom: 100px;
    
  }
  .top-section h2{
    font-size: 30px;
  }

  /*===================================
                ervices section
  ====================================*/
  .services{
    margin-block: 150px 250px;
  }
  .services .boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .services .box{
    width: 30%;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid var(--p_color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
  .services .boxes .box i{
    color: var(--main_color);
    font-size: 60px;
    margin-bottom: 30px;
    transition: 0.4s;
  }
  .services .boxes .box h3{
    font-size: 25px;
    margin-bottom: 30px;
  }
  .services .boxes .box p{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.7;
  }
  .services .boxes .box:hover{
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3) ;
  }
  .services .boxes .box:hover i{
    scale: 1.1;
  }


   /*===============================
            projects section
   =================================*/
   .projects .project-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
   }
   .projects .project-box img{
    width: 45%;
   }
   .projects .project-box .text{
    margin-left: 100px;
    width: calc(50% - 100px);
   }
   .projects .project-box .text h4{
    font-size: 20px;
    margin-bottom: 20px;
   }
   .projects .project-box .text h3 a{
    color: var(--black_color);
    font-size: 40px;
    transition: 0.5s;
   }
   .projects .project-box .text h3 a:hover{
    color: var(--main_color);
   }
   .projects .project-box .text p{
    margin: 30px 0 50px;
    line-height: 1.7;
   }
   .projects .project-box .text .link{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--p_color);
    text-align: center;
    line-height: 50px;
    color: var(--white_color);
    background-color: var(--main_color);
    border-radius: 50%;
    rotate: 45deg;
    transition: 0.3s;
   }
   .projects .project-box .text .link:hover{
    scale: 1.1;
   }
   .projects .project-box.box-2{
    flex-direction: row-reverse;
   }

      /*=================================
                 contact section
      ==================================*/

    .contact .container{
        display:flex;
        justify-content: space-between;
    }
    .contact .top-section{
        margin-bottom: 100px;
    }
    .contact .social-contact{
        width: 30%;
    }

    .contact .social-contact h2{
        color: var(--black_color);
        margin-bottom: 40px;
    }
    .contact .social-contact .links{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .contact .social-contact .links a{
        color: var(--main_color);
        font-size: 20px;
        position: relative;
        left: 0;
        transition: 0.4s;
    }
    .contact .social-contact .links a i{
        margin-right: 10px;
    }
    .contact .social-contact .links a:hover{
        left: 15px
    }

    .contact form{
        width: 60%;
        text-align: center;
    }
    .contact form .input-form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact form .input-form input, textarea{
        border-radius: 5px;
        padding: 20px;  
        outline: none;
        margin-bottom: 30px;
        border: 1px solid var(--p_color);
        transition: 0.4s;
    }

    .contact form .input-form input{
        width: 48%;
    }
    
    .contact form .input-form textarea{
        width: 100%;
    }
    .contact form .input-form input:focus, textarea:focus{
      border-color: var(--black_color);
    }
    .contact .btn:hover{
        scale: 1.04;
    }